@model HydroLearningProject.Views.Invoice.Component.InvoiceLines

@if (Model.LinesProduct.Any())
{
<div>
    <table class="table table-xs">
        <thead class="bg-base-100 z-50">
            <tr>
                <th>@Html.DisplayNameFor(m => m.LinesProduct[0].IdProduct)</th>
                <th class="w-28 text-right">@Html.DisplayNameFor(m => m.LinesProduct[0].Quantity)</th>
                <th class="w-28 text-right">@Html.DisplayNameFor(m => m.LinesProduct[0].ValueNet)</th>
                <th class="w-28 text-right">@Html.DisplayNameFor(m => m.LinesProduct[0].Tax)</th>
                <th class="w-28 text-right">@Html.DisplayNameFor(m => m.LinesProduct[0].ValueGross) </th>
                <th class="w-8"></th>
            </tr>
        </thead>
        <tbody>
            @for (var index = 0; index < Model.LinesProduct.Count; index++)
            {
                var focus = Model.FocusLastLine && index == Model.LinesProduct.Count - 1;

                <tr class="hover @(focus ? "init" : null)" x-hydro-focus="@(focus ? "input" : null)">
                    <td>
                            @* 
                                <select bind
                                        asp-for="Line.IdProduct"
                                        autocomplete="off"
                                        class="peer inline-flex w-full p-1 appearance-none items-center rounded-lg border border-input bg-main pe-8 ps-3 text-sm text-main-foreground ring-offset-background transition-shadow hover:bg-accent shadow-sm focus-visible:border-ring focus-visible:text-main-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/30 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50">

                                    <option value="" selected="@(Model.Line.IdProduct is null or "" ? string.Empty : null)"></option>
                                    @foreach (var option in Model.Products)
                                    {
                                        <option value="@option.Id">
                                            @option.Name
                                        </option>
                                    }
                                </select>
                                <span class="absolute pt-1 inset-y-0 right-px flex h-full w-9 items-center justify-center text-main-foreground/80 peer-disabled:opacity-50 pointer-events-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down" aria-hidden="true" role="img">
                                        <path d="m6 9 6 6 6-6"></path>
                                    </svg>
                                </span> *@
                            

                    </td>
                    <td class="text-right">
                            <input asp-for="LinesProduct[index].Quantity" bind style="text-align:right;" label="" />
                    </td>
                    <td class="text-right">
                        @Model.LinesProduct[index].ValueNet.ToString("#,##0.00")
                    </td>
                        <td class="text-right">
                            @Model.LinesProduct[index].Tax.ToString("#,##0.00")                            
                    </td>
                    <td class="text-right">
                        @Model.LinesProduct[index].ValueGross.ToString("#,##0.00")
                    </td>
                    <td class="align-middle text-end">
                            <button type="button"
                                    on:click="@(() => Model.InvoiceActions.AddLine())"
                                    class="btn">
                                Add line
                            </button>
                        <button type="button"
                                on:click="@(() => Model.InvoiceActions.RemoveLine(1))"
                                class="btn btn-outline btn-xs h-8 border-base-content/20">
                            Remove
                            </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


   
</div>

  }